{% extends 'base.html' %}

{% block content %}
<h1>enregistrement n° {{content[0]['recordid']}}<br></h1>

<div id="page">
    <div id="liste">
        <ul class="list-group">
            <li class="list-group-item">filière : {{content[0]['fields']['filiere']}}</li>
            <li class="list-group-item">commune : {{content[0]['fields']['libelle_commune']}}</li>
            <li class="list-group-item">département : {{content[0]['fields']['libelle_departement']}}</li>
            <li class="list-group-item">région : {{content[0]['fields']['libelle_region']}}</li>
            <li class="list-group-item">opérateur : {{content[0]['fields']['operateur']}}</li>
            <li class="list-group-item">pdl : {{content[0]['fields']['pdl']}}</li>
            <li class="list-group-item">année : {{content[0]['fields']['annee']}}</li>
            <li class="list-group-item">secteur : {{content[0]['fields']['libelle_grand_secteur']}}</li>
            <li class="list-group-item">conso (MW.h) : {{content[0]['fields']['conso']}}</li>

        </ul>
    </div>
    <div id="clavier">
        <form class="form-signin" id="formulaire" method="post" action="/update/{{content[0]['recordid']}}">
            <label for="relev">Entrez le nouveau relevé de consommation :</label>
            <input type="double" id="relev" name="relev" class="form-control" value="{{content[0]['fields']['conso']}}">
            <fieldset>
                <input name="btn_submit" type="submit" value="mettre à jour" id="btn_submit" class="button"
                                   data-scope='stripe'/>
            </fieldset>
        </form>
    </div>
</div>


{% endblock %}